<!DOCTYPE html>
<html>
<head>
    <title>FastAPI Page</title>
    <link href="/static/style.css" rel="stylesheet">
    <style>
        html,body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        *, *::after, *::before {
            box-sizing: border-box;
        }
        div {
            font-size: 14px;
        }
        .app > div {
            width: 100%;
        }
        .chat-item {
            border: 1px solid #ccc;
            background-color: #FFFAEB;
            padding: 10px;
            border-radius: 5px;
            margin: 5px 0;
        }
        .msg-sender {
            font-weight: bold;
            padding-bottom: 6px;
            border-bottom: 1px solid #ddd;
        }
        .msg-content {
            padding: 6px 10px 0 10px;
            word-break: break-word;
            white-space: pre-wrap;
            overflow: auto;
        }
        .think .msg-content {
            font-size: 90%;
            color: #666;
            font-style: italic;
        }
        #msgs, #files {
            background-color: #fff;
            border-radius:5px;
            padding: 10px;
        }
        #files > div {
            border: 1px solid #ddd;
            margin: 5px;
            padding: 5px;
            background-color: #d2c6ff;
            border-radius: 3px;
        }
        .terminal textarea {
            background-color: #171717;
            color: #fff;
        }
    </style>
    <script src="/static/socket.io.min.js"></script>
</head>
<body>
    <div class="app" style="height:100vh;display:flex;flex-direction:column;align-items:center;gap:10px;padding:10px 30px;">
        <div>测试内容：</div>
        <div>
            <textarea id="content" rows="3" style="width:50%;">李白是哪个朝代的诗人？他的诗的风格是什么样的？</textarea>
            <button id="send">Send</button>
        </div>

        <div>
            <textarea id="output" style="width:100%;" rows="5" placeholder="指令输出"></textarea>
        </div>

        <div style="display:flex;flex:1;gap:10px;height:100%;overflow:hidden;min-height:0;">
            <div id="msgs" style="height:100%;overflow:auto;flex:3;"></div>
            <div id="files" style="height:100%;overflow:auto;flex:2"></div>
        </div>
    </div>

    <script>
    const msgs = document.getElementById('msgs');

    const msgs_parser = {
        "msg:create": (args) => {
            let div = document.getElementById('msg-'+ args.id);
            if (div) {
                return;
            }
            div = document.createElement('div');
            div.id = `msg-${args.id}`;
            div.className = 'chat-item ' + args.type;
            div.innerHTML = `<div class="msg-sender">${args.role}(${args.id})</div><pre class="msg-content"></pre><ul class="msg-cmds"></ul>`;
            msgs.appendChild(div);
        },
        "msg:update": (args) => {
            const item = document.getElementById('msg-'+ (args.message_uuid || args.id));
            if (item) {
                const msgContent = args.content;
                let out = '';
                if (Array.isArray(msgContent)) {
                    if (msgContent.length > 0) {
                        for (var i = 0; i < msgContent.length; i++) {
                            let cntItem = msgContent[i];
                            if (cntItem.insert) {
                                if (typeof cntItem.insert == 'string') {
                                    //out += cntItem.insert.replace('\n', '<br/>');
                                    out += cntItem.insert;
                                }
                                else if (cntItem.mentiontrigger) {
                                    let mention = cntItem.mentiontrigger;
                                    out += (mention.char + mention.value)
                                }
                            }
                        }

                        if (out) {
                            const cnt = item.querySelector('.msg-content');
                            if (args.is_finished) {
                                cnt.innerHTML = out;
                            } else {
                                cnt.innerHTML += out;
                            }
                            msgs.scrollTop = msgs.scrollHeight;
                        }
                    }
                }
            }
        },
        "action_data:update": (args) => {
            msg_uuid = args.message_uuid;
            const item = document.getElementById('msg-'+ msg_uuid);
            if (item) {
                action_data = args.action_data;
                action_cmd_name = action_data.command_name;
                const ul = item.querySelector('.msg-cmds');
                const li = document.createElement('li');
                li.innerText = `${action_cmd_name}: ${JSON.stringify(action_data)}`
                ul.appendChild(li);
            }
        },
        "timeline:start": (args) => {
            const block_type = args.block_type;
            if ('Editor' == block_type) {
               let src_path = args.src_path;
               const div = document.createElement('div');
               div.id = `file-${args.uuid}`;
               div.innerHTML = `<div>${src_path}</div><textarea style="width:100%;" rows="10"></textarea>`;
               document.getElementById('files').appendChild(div);
               document.getElementById('files').scrollTop = document.getElementById('files').scrollHeight;
            }
            else if ("Terminal" == block_type) {
                const div = document.createElement('div');
               div.id = `term-${args.uuid}`;
               div.className = 'terminal';
               div.innerHTML = `<div>Terminal</div><textarea style="width:100%;" rows="5">${args.content}</textarea>`;
               document.getElementById('files').appendChild(div);
               document.getElementById('files').scrollTop = document.getElementById('files').scrollHeight;
            }
        },
        "timeline:content": (args) => {
            const block_type = args.block_type;
            if ('Editor' == block_type) {
               let fileId = args.uuid;
               let fileDiv = document.getElementById(`file-${fileId}`);
               if (fileDiv) {
                  const fileArea = fileDiv.querySelector('textarea');
                  fileArea.value += args.content;
                  fileArea.scrollTop = fileArea.scrollHeight;
               }
            }
            else if ("Terminal" == block_type) {
               let termId = args.uuid;
               let termDiv = document.getElementById(`term-${termId}`);
               if (termDiv) {
                  const termArea = termDiv.querySelector('textarea');
                  termArea.value += args.content;
                  termArea.scrollTop = termArea.scrollHeight;
               }
            }
        },
        "timeline:complete": (args) => {
        }
    };
    </script>

    <script>
     const textarea = document.getElementById('content');
     document.getElementById('send').onclick = function() {
        const msg = textarea.value;
        if (!msg.trim()) {
            textarea.focus();
            return;
        }

        fetch(`//${location.host}/api/v1/chats/{{clientId}}/messages`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "content": [
                    {
                        "insert": {
                            "mentiontrigger": {
                                "char": "@",
                                "id": "Data Analyst",
                                "value": "David"
                            }
                        }
                    },
                    {"insert": " "},
                    {
                        "insert": {
                            "mentiontrigger": {
                                "char": "@",
                                "id": "Product Manager",
                                "value": "Emma"
                            }
                        }
                    },
                    {
                        "insert": msg
                    }
                ],
                "type": "message",
                "metadata": {
                    "agent_mode": "full",
                    "default_model": "claude-4-sonnet",
                }
            })
        })
        .then(resp => resp.json())
        .then(data => console.log('>> 发送响应：', data));
     };
    </script>

    <script>
    // 文档 https://socket.io/zh-CN/docs/v4
    const socket = io(`${window.location.protocol}//${window.location.host}`, {
        transports: ["websocket"],
        path: "/socket.io",
        timeout: 5000,
        query: {
            chat_id: "{{clientId}}"
        },
        autoConnect: true
    });
    socket.on('connect', () => {
      console.log('Connected!');
      //socket.emit('message', 'Hello server!');
    });
    socket.on('disconnect', () => {
      console.log('disconnect!');
    });
    socket.on('connect_error', () => {
      console.error('connect_error!');
    });

    socket.on('message', (data) => {
      console.log(data);
    });

    // 添加一个监听器，当任何事件发出时将被触发。
    socket.onAny((eventName, data) => {
      if (eventName.includes('chat:')
        || eventName.includes('msg:')
        || eventName.includes('timeline:')
        || eventName.includes('action_data:')
        ) {
            document.getElementById('output').value += (JSON.stringify([eventName, data]) + '\n');
            document.getElementById('output').scrollTop = document.getElementById('output').scrollHeight;
        }
    });

    for (let evtName in msgs_parser) {
        if (msgs_parser.hasOwnProperty(evtName)) {
            socket.on(evtName, msgs_parser[evtName]);
        }
    }

    </script>

</body>
</html>
